html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: arial;
}

body {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #ffffff;
}

td {
  color: #ffffff;
  padding: 5px;
}

a:hover {
  text-decoration: none;
  color: #005994;
  text-outline: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* custom classes */

.overlay {
  display: block;
  /*width: auto;*/ 
  color: #ffffff;
  background: #1b1b1b;
  opacity: .6;
  filter:alpha(opacity=60);
  padding: 10px;
  border-radius: 3px;
}

.text {
  font-size: 5em;  
}

.square {
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  display: block;
}

.title {
  font-size: 2em;
}

/* bootstrap overrides */

.navbar-inner {
  background-color: #005994;
  opacity: .6;
  filter:alpha(opacity=60);
  background-image: -webkit-gradient(top, #005994, #005994);
  background-image: -webkit-linear-gradient(top, #005994, #005994);
  color: #ffffff;
  background-repeat: repeat-x;
  border: none;
}

.navbar-fixed-bottom .brand {
  color: #ffffff;
  margin-left: 5px;
}

.navbar .nav > li > a {
  color: #ffffff;
}

.navbar .nav > li > a:hover {
  text-shadow: none;
  color: #ff1a1a;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #ff1a1a;
  color: #ffffff;
}